<h2>Por capital</h2>
<hr />

<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      [placeholder]= "placeholder"
    ></app-pais-input>
  </div>
</div>

<hr />

<div *ngIf="hayError" class="alert alert-danger">
  <strong>Error!</strong> No se encontró nada relacionado con {{ termino }}
</div>

<div *ngIf="paisesBuscados.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paisesBuscados"></app-pais-tabla>
  </div>
</div>
